@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import "variables.scss";
@import "resetElement.scss";
@import "formPage.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-y: auto;
    background-color: #ffffff;
    font-family: "Almarai", sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-height: 100vh;

    // --------------------
    .left-side {
        width: 40%;
        height: 100vh;
        max-height: 100vh;
        padding: 31px 0px 0px 40px;

        h2 {
            text-align: right;
            /* Font Notes */
            font-family: 'Almarai';
            font-size: 28px;
            font-weight: 700;
            line-height: 31.25px;
            color: #282b3a;
            margin-bottom: 45px;
        }

        form {
            width: 100%;
            text-align: right;

            #submit {
                width: 100%;
                background-color: $primary-color-light;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                padding: 10px;
                outline: none;
                border: none;
                border-radius: 12px;

                i {
                    padding-right: 10px;
                }
            }

            .forget {
                text-decoration: none;
                font-family: 'Almarai';
                font-size: 22px;
                font-weight: 400;
                line-height: 24.55px;
                color: $primary-color-light;
                display: block;
                margin-bottom: 20px;
            }

            .input-group {
                position: relative;

                i {
                    position: absolute;
                    top: 50%;
                    left: 19px;
                    transform: translateY(-50%);
                    color: #282b3a;
                }
            }

            .form-group {
                width: 100%;
                margin-bottom: 22px;

                input {
                    width: 100%;
                    outline: none;
                    border: 1px solid #5a5b65;
                    height: 43px;
                    border-radius: 8px;
                    padding: 10px 13px 10px 40px;
                    direction: ltr;
                    font-size: 18px;
                    color: #5a5b65;
                }

                label {
                    font-family: 'Almarai';
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 22.32px;
                    color: #5a5b65;
                    display: block;
                    padding-bottom: 15px;
                }
            }
        }

        .dropDown {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;
            min-width: 15em;
            position: relative;
            margin: 2em;

            .select {
                background: #fff;
                color: #2a2f3b;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 2px #bfbfc0;
                border-radius: 0.5em;
                padding: 1em;
                cursor: pointer;
                transition: background 0.3s;
            }

            .selected,
            li {
                font-weight: 500;
            }

            .selected {
                padding-left: 22px;
            }

            .arrow {
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 10px solid #242424;
                transition: 0.3s;
            }

            .arrow-rotate {
                transform: rotate(180deg);
            }

            .menu {
                list-style: none;
                padding: 0.2em 0.05em;
                background: #e2e2e2;
                border-radius: 0.5em;
                color: #2a2d35;
                position: absolute;
                top: 3em;
                left: 50%;
                width: 50%;
                transform: translateX(-100%);
                opacity: 0;
                display: none;
                transition: 0.2s;
                z-index: 1;

                li {
                    padding: 0.7em 0.5em;
                    margin: 0.3em 0;
                    border-radius: 0.5em;
                    cursor: pointer;
                }
            }

            .active {
                background: rgb(91, 91, 106);
            }

            .menu-open {
                display: block;
                opacity: 1;
            }
        }
    }

    .right-side {
        width: 40%;
        height: 100vh;
        max-height: 100vh;
        position: relative;

        .login-bg {
            width: 100%;
            position: absolute;
            height: 92vh;
            border-radius: 0px 0px 0px 50px;
        }

        .over-lay {
            background-color: rgba(23, 24, 25, 0.5);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            border-radius: 0px 0px 0px 50px;
            height: 92vh;
        }

        .img-description {
            height: 92vh;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 4;
            padding: 40px;
        }

        .logo img {
            width: 95px;
            height: 85px;
        }

        .break-line {
            width: 110px;
            height: 4px;
            background-color: #fcf9f8;
            margin-top: 100px;
            margin-bottom: 40px;
        }

        h3 {
            color: #fcf9f8;
            font-family: 'Almarai';
            font-size: 28px;
            font-weight: 600;
            line-height: 31.25px;
            margin-top: 40px;
        }

        h4 {
            color: #fcf9f8;
            font-family: 'Almarai';
            font-size: 22px;
            font-weight: 500;
            line-height: 24.55px;
        }

        .logo-2 {
            width: 60px;
            position: absolute;
            bottom: 12px;
            left: 40px;
        }
    }
}

/* ---------------------------------------- */
/* Advisor - Accounts */
/* ---------------------------------------- */
.main {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    .side {
        .side-content {
            .open-btn {
                position: absolute;
                top: -5px;
                right: 0;
                background-color: $secondary-color-light;
                color: rgb(0, 0, 0);
                font-size: 20px;
                cursor: pointer;
                padding: 8px;
                border-radius: 12px 12px 12px 12px;
                margin: 25px;
            }

            .side-bar {
                background-color: $primary-color-dark;
                width: 290px;
                height: 100vh;
                position: fixed;
                top: 0;
                /* To Move Out Page And display */
                /* right: -100%; */
                right: 0;
                overflow-y: auto;
                transition: 0.6s ease;
                transition-property: right;

                .bar-header {
                    position: relative;
                    height: 90px;
                    display: flex;
                    align-items: center;
                    border-bottom: 2px solid $secondary-color-light;

                    .logo {
                        padding-left: 160px;
                    }

                    img {
                        width: 55px;
                        height: 48px;
                        margin: 25px;
                    }

                    .close-btn {
                        position: absolute;
                        top: auto;
                        left: 0;
                        width: 16px;
                        height: 34px;
                        border-radius: 0px 8px 8px 0px;
                        background-color: $secondary-color-light;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .list {
                    margin-right: 30px;
                    width: 50%;
                    display: block;
                    padding: 12px 0px;
                    border-bottom: 1px solid $secondary-color-light;

                    h2 {
                        font-family: "Almarai";
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 15.62px;
                        text-align: right;
                        color: #f1f1f1b2;
                    }
                }

                .menu-list {
                    width: 100%;
                    margin-top: 30px;

                    .side-item {
                        cursor: pointer;
                        position: relative;

                        a {
                            color: #eee2d8;
                            font-size: 16px;
                            text-decoration: none;
                            display: block;
                            padding: 5px 30px;
                            line-height: 30px;
                        }

                        i {
                            margin-left: 12px;
                        }

                        .dropdown {
                            position: absolute;
                            top: 14px;
                            left: 0;
                            transition: 0.3s ease;
                        }

                        .sub-menu {
                            display: none;
                            margin-right: 35px;
                            border-right: 2px solid $secondary-color-light;
                        }

                        .view-sub-menu {
                            display: block;

                            a {
                                padding-right: 30px;
                            }
                        }
                    }
                }
            }

            .side-bar.hidden {
                right: -100%;
            }

            .side-bar::-webkit-scrollbar {
                width: 0px;
            }
        }
    }

    .content {
        min-height: 100vh;
        width: 100%;
        background-color: #efe3d8;

        .content-header {
            padding: 20px 40px;
            display: flex;
            justify-content: space-between;
            background-color: #efe3d8;
            border-bottom: 2px solid $secondary-color-light;
        }

        .search-header {
            border: 2px solid rgba(152, 102, 102, 0.5);
            border-radius: 13px;
            padding: 6px 12px;
            margin-right: 25px;
            width: 356px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;

            input {
                outline: none;
                padding: 6px 12px;
                border: none;
                background-color: transparent;
                font-size: 20px;
            }

            .search-btn {
                border: none;
                padding: 4px;
                background-color: transparent;

                i {
                    font-size: 18px;
                    padding: 7px;
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        }

        .search-btn-temp {

            border: none;
            padding: 0px 7px;
            background-color: white;
            border-radius: 50%;
            display: none;

            i {
                font-size: 18px;
                padding: 7px;
                color: rgba(0, 0, 0, 0.7);
            }
        }

        .About-header {
            display: flex;
            align-items: center;
            gap: 12px;

            .admin-type {
                background-color: white;
                border-radius: 24px;
                height: 50px;
                width: 240px;
                display: flex;
                justify-content: center;
                gap: 12px;
                padding: 5px 0px;
                margin-right: -12px;

                .dropdownIcon {
                    padding-top: 12px;
                }

                .admin-img {
                    width: 38px;
                    height: 38px;

                    img {
                        width: 100%;
                        border-radius: 50%;
                        border: 2px solid #fdfdfd;
                    }
                }

                .admin-info {
                    text-align: center;
                    line-height: 3px;

                    h2 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

            .notification {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: white;
                padding: 10px;

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                }
            }
        }

        .page-title {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 30px;

            h2 {
                color: $primary-color-dark;
                font-weight: 700;
            }

            .btn-add-account {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 165px;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 100%;
                    background-color: $secondary-color-light;
                    color: #fdfdfd;
                    font-weight: 500px;
                    border: none;
                    outline: none;
                    padding: 10px;
                    border-radius: 30px;

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        color: $primary-color-dark;
                        background-color: #fdfdfd;
                    }
                }
            }
        }

        .table-content {
            overflow-x: auto;
            padding: 15px 30px;
            scrollbar-width: thin;
            scrollbar-color: #888 #f1f1f1;

            .styled-table {
                width: 100%;
                border-collapse: collapse;
                border-radius: 15px 15px 0 0;
                overflow: hidden;

                .switch {
                    position: relative;
                    height: 1.5rem;
                    width: 3rem;
                    cursor: pointer;
                    appearance: none;
                    -webkit-appearance: none;
                    border-radius: 9999px;
                    background-color: rgba(100, 116, 139, 0.377);
                    transition: all .3s ease;
                }

                .switch:checked {
                    background-color: $primary-color-light;
                }

                .switch::before {
                    position: absolute;
                    content: "";
                    left: calc(1.5rem - 1.6rem);
                    top: calc(1.5rem - 1.6rem);
                    display: block;
                    height: 1.6rem;
                    width: 1.6rem;
                    cursor: pointer;
                    border: 1px solid rgba(100, 116, 139, 0.527);
                    border-radius: 9999px;
                    background-color: rgba(255, 255, 255, 1);
                    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
                    transition: all .3s ease;
                }

                .switch:hover::before {
                    box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
                }

                .switch:checked:hover::before {
                    box-shadow: 0 0 0px 8px rgba(236, 72, 153, .15)
                }

                .switch:checked:before {
                    transform: translateX(100%);
                    border-color: $primary-color-light;
                }

                .bin-button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background-color: $primary-color-light;
                    cursor: pointer;
                    border: 2px solid rgb(255, 201, 201);
                    transition-duration: 0.3s;
                    position: relative;
                    overflow: hidden;
                }

                .bin-bottom {
                    width: 15px;
                    z-index: 2;
                }

                .bin-top {
                    width: 17px;
                    transform-origin: right;
                    transition-duration: 0.3s;
                    z-index: 2;
                }

                .bin-button:hover .bin-top {
                    transform: rotate(45deg);
                }

                .bin-button:active {
                    transform: scale(0.9);
                }

                .garbage {
                    position: absolute;
                    width: 14px;
                    height: auto;
                    z-index: 1;
                    opacity: 0;
                    transition: all 0.3s;
                }

                .bin-button:hover .garbage {
                    animation: throw 0.4s linear;
                }

                @keyframes throw {
                    from {
                        transform: translate(-400%, -700%);
                        opacity: 0;
                    }

                    to {
                        transform: translate(0%, 0%);
                        opacity: 1;
                    }
                }

                button {
                    border: none;
                }

                thead tr {
                    background-color: #e6d0be;
                    color: $primary-color-dark;
                    text-align: center;
                    font-weight: bold;
                }

                th {
                    text-wrap: nowrap;
                }

                th,
                td {
                    font-size: 15px;
                    padding: 12px 10px;
                    border: 1px solid #ddd;
                    text-align: center;
                }

                tbody tr {
                    border-bottom: 1px solid #f6f1ec;

                    .trach-btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                tbody tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }

                tbody tr:last-of-type {
                    border-bottom: 2px solid $primary-color-dark;
                }
            }
        }

        .table-content::-webkit-scrollbar {
            height: 12px;
        }

        .table-content::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
        }

        .table-content::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }

        .table-content::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    .content.Collapse {
        width: calc(100% - 290px);
    }

    .content.Expand {
        width: 100%;
    }
}

/* ------------------ */
/* Media Query*/
/* ------------------ */
@media screen and (max-width: 768px) {
    .left-side {
        padding: 20px;
    }

    .left-side h2 {
        font-size: 22px;
    }

    .container {
        flex-direction: column;
    }

    .container .right-side,
    .container .left-side {
        width: 100%;
    }

    .right-side .over-lay,
    .right-side .login-bg {
        border-radius: 0px 0px 35px 35px;
    }

    .main .content .page-title .btn-add-account {
        width: 50px;
        height: 50px;
        border-radius: 50%;

        span {
            display: none;
        }

        button {
            padding: 0;
            background-color: transparent;

            i {
                width: 50px;
                height: 50px;
                background-color: $secondary-color-light;
                color: white;
                font-weight: 900;
                font-size: 28px;
            }
        }
    }

    .main .content .search-header {
        display: none;
    }

    .main .content .About-header {
        margin-right: 30px;
    }

    .main .content .search-btn-temp {
        margin-right: 25px;
        display: block;
    }

    .main .content .About-header .admin-type {
        width: 200px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .right-side {
        width: 50%;
    }
}