* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0D13D7;
    --secondary-color: #fff;
    --black-color: #000;
}



.container {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
}

ul {

    list-style: none;
}

a,
img {
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.align-items-center {
    align-items: center;
}

.mb-2 {
    margin-bottom: 20px;
}


.a-button {
    display: inline-block;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;


    padding: 10px 15px;
}