* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    width: 90%;
    margin: auto;

}


a {
    text-decoration: none;
}

ul {

    list-style: none;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.align-items-center {
    align-items: center;
}

.mb-2 {
    margin-bottom: 20px;
}


.a-button {
    display: inline-block;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;


    padding: 10px 15px;
}